body.custom-theme .card:not(.card-profile) {
    background-color: #a72abd;
    color: white;
}

body.custom-theme .card .card-header-primary {
    background: #a72abd;
}

body.custom-theme .card .card-title,
body.custom-theme .card .card-category,
body.custom-theme .card-body,
body.custom-theme .card-body .nav-tabs-title,
body.custom-theme .card-body .nav-tabs .nav-link {
    color: white !important;
}

body.custom-theme .card-body .nav-tabs .nav-link.active {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

body.custom-theme .btn-table-delete {
    background-color: #f44336 !important;
}

body.custom-theme .btn-primary {
    background-color: #a72abd !important;
}
